---
//@ts-ignore
import Card from "@/components/Card.astro";
//@ts-ignore
import { useTranslations } from "@/i18n";

//@ts-ignore
import RootLayout from "@/layouts/RootLayout.astro";

const t = useTranslations();

export const prerender = true;

const projectsData = [
  {
    title: "ReactBunode",
    description:
      "Highly Experimental React Library. Converts React components to static HTML for enhanced performance and SEO, with support for React Server Components. Optimizes for speed, SEO, and scalability.",
    href: "https://reactbunode.pages.dev/",
    imgSrc: "https://placeholder.com/500x190",
  },
  {
    title: "Kpass",

    description:
      "KPass is an experimental, self-hosted password manager developed with Go and TypeScript",

    href: "https://github.com/Kumneger0/kpass",
    imgSrc: "https://placeholder.com/500x190",
  },
  {
    title: `React-PocketChat`,
    description:
      "Explore a new real-time chat app built with React, TypeScript, and Pocketbase. Connect with friends via usernames, have private chats, and view profiles. Experience smooth, interactive communication now!",
    href: "https://github.com/Kumneger0/chat-app-with-react-and-pocketbase",
    imgSrc: "https://placeholder.com/500x190",
  },
  {
    href: "https://kunedrive.web.app/",
    imgSrc: "https://placeholder.com/500x190",

    title: `KDrive - Your Personal Cloud`,
    description:
      "Developed KDrive, a cloud storage solution using React and Firebase, purely for personal enjoyment Emphasizes my skills in leveraging Firebase for cloud storage.",
  },
];
---

<RootLayout
  title={t("pages.projects.title")}
  description={t("pages.projects.description")}
>
  <div class="divide-y divide-gray-200 dark:divide-gray-700">
    <div class="space-y-2 pb-8 pt-6 md:space-y-5">
      <h1
        class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14"
      >
        {t("pages.projects.allProjects")}
      </h1>
      <p class="text-lg leading-7 text-gray-500 dark:text-gray-400">
        {t("pages.projects.showcase")}
      </p>
    </div>
    <div class="container py-12">
      <div class="-m-4 flex flex-wrap">
        {
          projectsData.map((d) => (
            <Card title={d.title} description={d.description} href={d.href} />
          ))
        }
      </div>
    </div>
  </div>
</RootLayout>
