---
//@ts-ignore
//@ts-ignore
import { useTranslations } from "@/i18n";

//@ts-ignore
import RootLayout from "@/layouts/RootLayout.astro";

import { getCollection } from "astro:content";

const posts = await getCollection("blog");

import SearchBar from "@/components/react/search";

const t = useTranslations();

export const prerender = true;
---

<RootLayout
  title={t("pages.search.title")}
  description={t("pages.projects.description")}
>
  <div>
    <div class="text-2xl font-bold mb-4">Search</div>
    <div class="mb-8">Search any article ...</div>
  </div>

  <div>
    <!-- @ts-ignore -->
    <SearchBar client:load="react" searchList={posts} />
  </div>
</RootLayout>

<!--?xml version="1.0" ?-->

